
#container{     /*INICIO.quadrado todo abaixo da div serviço e div cadastro pet*/
   display: flex;
   width: 90%;  /*largura*/
   max-width: 1200px;
   height: 600px;  /*altura*/
   background-color: blue;
   border-radius: 10px;
   overflow: hidden;
}

#servico{     /*parte da esquerda primeira pagina,separando o lado esquerdo P direito*/   
    width: 30%;
    height: 100%;
    background-color: var(--primaryColor); /*cor do quadrado da esquerda*/
    align-items: center;
    display: flex;   
    flex-direction: column;

}

#divECima { /*formata o circulo branco que a patinha vai dentro */
    width: 200px;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#divECima div { /* diV cima que comanda toda a div de cima*/
    background-color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}
#divECima img{/*modifica o tamanho da patinha que esta dentro do circulo branco*/
    width: 50px;
    height: 50px;      
}
#titulo{
    font-size: 1.5em;
    font-family:'GooperSemiBold';
}

#divEMeio{/* div dos imputs*/
    width: 44%;
    height: 40%;
    font-size: 1.0em;
    font-family:'GooperSemiBold';
    justify-content: center; 
    display: flex;
    flex-direction: column;
    gap:40px;
    position: relative;

    /* colocado pelo joão */
    width: 100%;
    align-items: center;
}

#divEBaixo{ /* div da imagem*/
    width: 90%;/*largura*/
    height: 40%;/*altura*/
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../imagens/pandaPergunta.png);
    margin-right: 5px;

}
/*faz as linhas dos imputs*/
#perfil::before { 
    content: "";
    position: absolute;
    width: 2px;
    height: 45px;
    background-color: var(--shadowColor2);
    top: 28%;
    left: 5%;
    /* alterado pelo joão*/
    top: 20%;
}
#serv::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 45px;
    background-color: var(--shadowColor2);
    top: 53%;
    left: 5%;
} 

.perfilServ{
    list-style: none;
    /* alterado pelo joão*/
    z-index: 2;
    display: inline-flex;
    position: relative;
    background-color: white;
   
}

.perfilServ:disabled {
    background-color: white;
    border-color:white ;
    color: white;
}

#cadastroPet{ /*parte da direita primeira pagina, /*separando o lado direito do esquerdo*/
    width: 70%;
    height: 100%;
    background-color: var(--secondColor);/*cor do quadrrado direito*/
    flex-direction: column;
      display: flex;  
}



#divDCima{ /* div das frases*/
    width: 100%;/*largura*/
    height: 20%;/*altura*/
   text-align: center; /*alinha os textos*/

}

#divDCima > h1 {
    font-family:'GooperSemiBold';
    margin-top: 20px;

}

#divDCima > h2 {
    font-family:'GooperSemiBold';
    margin-top: 20px;

}

#divDMeio{ /*Div inputs direita*/
    width: 100%;/*largura*/
    height: 70%;/*altura*/
    font-family:'GooperSemiBold';
    display: flex;
   

}
.containersCadastro{
  width: 50%;
  height: 100%;
  display: flex;
    flex-direction: column;

    align-items: center;
}
.inputs{/*formata os inputs nome*/
    border-radius: 10px;
    height: 40px;/*altura*/
    width: 200px;/*largura*/
    border: 0;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    cursor: auto;
    font-size: 1.2em;
}
#inputPeso{/* diminuiu somente o input peso*/
    width: 100px;/*largura*/ 
    border: 0;
    margin-left: -100px; 
    
}
   
#divDBaixo{
    width: 100%;/*largura*/
    height: 10%;/*altura*/   
    display:flex;
    justify-content: space-between;

}


#botaoProximo{
    border-radius: 10px;
    height: 34px;/*altura*/
    width: 133px;/*largura*/
    border: 0;
    margin-right: 20px;
    color:black;
    font-family:'GooperSemiBold';
    background-color: var(--primaryColor);
    
}

#petJaCadastrado {
    height: 30px;
    font-size: 1.3em;
    margin-left: 20px;
    color: white;
    text-decoration: underline;
    border: 0;
    background-color: transparent;
}

#petJaCadastrado:hover {
    transform: scale(1.1);
    transition: all .2s ease-in;
    color: var(--primaryColor);
}

.centralizadorAgenadamento{ /*centralizou o quadro da direita para esquerda*/
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* botão escolha Macho e femea*/

#botaoEscolhaGenero {
    width: 205px;
    height: 50px;
    border: 3px solid var(--primaryColor);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
}

.btnOpt {
    width: 50%;
    height: 100%;
    border: 0;
    border-radius: 10px;
    font-size: 1.3em;
    color: var(--primaryColor);
    font-family: "Nunito";
    background-color: transparent;
}

#btnMacho::before {
    content: attr(data-content);
    color: white;
    position: absolute;
    width: 95px;
    height: 90%;
    background-color: var(--primaryColor);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 2px;
    left: 3px;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    
}

.btnOpt:hover {
    transform: none;
}

/* ---------------- */

/*botao escolha sim ou nao*/

#botaoEscolha {
    width: 205px;
    height: 50px;
    border: 3px solid var(--primaryColor);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
}

.btnOpt {
    width: 50%;
    height: 100%;
    border: 0;
    border-radius: 10px;
    font-size: 1.3em;
    color: var(--primaryColor);
    font-family: "Nunito";
    background-color: transparent;
}

#btnNo::before {
    content: attr(data-content);
    color: white;
    position: absolute;
    width: 95px;
    height: 90%;
    background-color: var(--primaryColor);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 2px;
    left: 3px;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    
}

.btnOpt:hover {
    transform: none;
}
/*--------------------*/
.labelCadastro{
  /* text-align: left; */
  align-self:self-start;
  padding-left: 28%;
  margin-top: 15px;

}
.labelGeneroAlergico{
  align-self:self-start;
  padding-left: 28%;
  margin-top: 15px; 

}
#quadro{
    border-radius: 5px;
    width: 205px;
    max-width: 205px;
    height: 170px;
    max-height: 170px;
    padding: 5px;
    font-size: 1em;
    font-family: "Nunito";
}



#containerInputRadios {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.inptEstilizado {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 4px solid #564ead;
    border-radius: 50%;
    position: relative;
}

.labelRadio::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 70px;
    background-color: var(--shadowColor2);
    top: 70%;
    left: 9.5%;
}

.marked::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--primaryColor);
    position: absolute;
    top: 2px;
    left: 2px;
}

.sub-container-inpt label {
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
} 

button {
    cursor: pointer;
}

/* ---------------------------- */

/*paginas da segunda tela da direita*/

#cadastroPet2{ /*parte da direita SEGUNDA PAGINA, /*separando o lado direito do esquerdo*/
    width: 70%;/*largura*/
    height: 100%;/*altura*/
    background-color: var(--secondColor);/*cor do quadrado direito DA SEGUNDA PAGINA*/
    flex-direction: column;
    display: flex;
    display: none;
}
#divDCima2{ /* div das frases*/
    width: 100%;/*largura*/
    height: 20%;/*altura*/
   text-align: center; /*alinha os textos*/

}

#divDCima2 h1 {/*altera a fonte das frases*/
    font-family:'GooperSemiBold';
    margin-top: 20px;

}

#divDCima2 h2 {
    font-family:'GooperSemiBold';
    margin-top: 20px;
}
#divDMeio2{
    width: 80%;/*largura*/
    height: 20%;/*altura*/
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-bottom: 3px solid var(--primaryColor);
    
 
}
#botaoTosa{
    border-radius: 10px;
    height: 40px;/*altura*/
    width: 200px;/*largura*/
    border: 0;
    font-family:'GooperSemiBold';
    color:black;
    background-color: var(--primaryColor);
}
#botaoBanho{
    border-radius: 10px;
    height: 40px;/*altura*/
    width: 200px;/*largura*/
    border: 0;
    font-family:'GooperSemiBold';  
    color:black;
    background-color: var(--primaryColor); 
}
#botaoHospedar{
    border-radius: 10px;
    height: 40px;/*altura*/
    width: 200px;/*largura*/
    border: 0;
    font-family:'GooperSemiBold';  
    color:black;
    background-color: var(--primaryColor); 
}
#quadro2{
    border-radius: 5px;
    width: 205px;
    max-width: 205px;
    margin-left: 310px;/*margem esquerda*/
    margin-right: 20px;/*margem direita*/
}

/* agendamento */

#containerCalendario {
    height: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#containerCalendario > h2 {
    margin-bottom: 20px;
    margin-top: 40px;
}

#containerCalendario h2 {
    font-family: "GooperSemiBold";
}

#containerCalendario section {
    width: 70%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#containerFormDay {
    border-bottom: 2px solid var(--primaryColor);
    padding-bottom: 15px;
}

#containerFormDay label {
    font-size: 1.3em;
    font-family: "Nunito";
}

#containerFormDay input {
    width: 100px;
    height: 55px;
    display: block;
    border-radius: 10px;
    border: 2px solid var(--primaryColor);
    text-align: center;
    font-size: 2em;
}

#formDay {
    position: relative;
}

#formMonth {
    position: relative;
}

#formDay::after {
    content: "";
    position: absolute;
    right: -40px;
    top: 1px;
    width: 2px;
    height: 100px;
    background-color: var(--primaryColor);
    border-radius: 5px;
    transform: rotate(195deg);
}

#formMonth::after {
    content: "";
    position: absolute;
    right: -40px;
    top: 1px;
    width: 2px;
    height: 100px;
    background-color: var(--primaryColor);
    border-radius: 5px;
    transform: rotate(195deg);
}

#formYear > input {
    width: 130px;
}

#containerFormHour input {
    display: block;
    width: 90px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid var(--primaryColor);
    outline: none;
    text-align: center;
}

#containerFormHour label, input {
    font-size: 1.3em;
    font-family: "Nunito";
}

#titleHour {
    padding-bottom: 60px;
}

#containerFormHour {
    position: relative;
}

#containerFormHour::before {
    content: "";
    width: 240px;
    height: 3px;
    background-color: var(--primaryColor);
    position: absolute;
    top: 65px;
    border-radius: 10px;
}



/* ----------- */

#divDBaixo2{
    width: 100%;/*largura*/
    height: 20%;/*altura*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
#botaoVoltar{
    border-radius: 10px;
    width: 150px;
    height: 40px;
    border:0;
    font-family:'GooperSemiBold';  
    color:black;
    background-color: var(--primaryColor); 
}
#botaoProximo2{
    border-radius: 10px;
    width: 150px;
    height: 40px;
    border:0;
    font-family:'GooperSemiBold';  
    color:black;
    background-color: var(--primaryColor); 
}
#cadastroPet3{ /* pagina 3 -parte da direita TERCEIRA PAGINA*/
    width: 70%;/*largura*/
    height: 100%;/*altura*/
    background-color: var(--secondColor);/*cor do quadrado direito DA SEGUNDA PAGINA*/
    flex-direction: column;
    display: flex;
    font-family:'GooperSemiBold';
     display: none; 
}
#divDCima3{ /* div das frases*/
    width: 100%;/*largura*/
    height: 10%;/*altura*/
   text-align: center; /*alinha os textos*/
}
#divDCima3 h1 {/*altera a fonte das frases*/
    margin-top: 20px;
}
#divTitulo{
    font-size: 0.8em;
    text-align: center;
    width: 100%;
    height: 60px;
    text-align: center;
    position: relative;
    
}
#divTitulo h1{
    margin-top: 30px;
}
#divDMeio3{
    width: 100%;/*largura*/
    height: 80%;/*altura*/
    display: flex;
    align-items: center;
    /* justify-content: space-between;*/
    padding: 0 40px; 
    flex-direction: row-reverse;
}

#divPagamento1{/*Nome do pet, alergias etc...*/
    width: 50%;
    height: 285px;
    flex-direction: column;
    display: flex;
    /* float: right; */
    /* justify-content: flex-end; */
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-bottom: 18px;
}


.inputPagamento1{
    border-radius: 10px;
    height: 40px;/*altura*/
    width: 200px;/*largura*/
    border: 0;
    display: flex;
    flex-direction: column;   
    gap: 15px;
}

#divPagamento2{/*seu nome e forma de pagamento*/
    width: 50%;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin-left: -50px; */
}

.radio:hover {
    cursor: pointer;
}

#inputSeuNome {
    outline: none;
    padding-left: 10px;
    font-size: 1.1em;
    font-family: "Nunito";
}

#inputServico {
    height: 40px;
    background-color: var(--primaryColor);
    padding: 0px 5px;
    box-sizing: border-box;
    outline: none;
    color: white;
    border: .5px solid var(--secondColor);
    padding-left: 10px;
    font-size: 1.1em;
    font-family: "Nunito";
    cursor: pointer;
}

#inputServico::placeholder {
    color: white;
}

.dropDown {
    width: 200px;
    background-color: var(--primaryColor);
    border-radius: 10px;
    margin-top: 5px;
    border: .5px solid var(--secondColor);
    height: 135px;
    overflow: hidden;
    overflow-y: auto;
    display: none;
    transform: translate(0px, -10px);
    transition: .5s;
}

.dropDown::-webkit-scrollbar {
    width: 10px;
    background-color: var(--primaryColor);
    border-radius: 10px;
}

.dropDown::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: var(--thirdColor);
    border-radius: 10px;
}

.item {
    height: 45px;
    padding: 0px 5px;
    box-sizing: border-box;
    transition: .3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: "Nunito";
    font-size: 1.1em;
}

.item:hover {
    background-color: var(--thirdColor);
    padding-left: 15px;
    font-weight: bold;
    transition: .3s;
}

.inputPagamento2{
    border-radius: 10px;
    height: 40px;/*altura*/
    width: 265px;/*largura*/
    border: 0;
    display: flex;
    flex-direction: column;
}
#divFormaPagamento{
    font-size: 0.6em;
}
#divFormaPagamento h2{
    margin-bottom: 10px;
    
}
#div2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#div2 div {
    display:flex;
}
.input2{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    display: flex;  
    margin-right: 5px;
}

#divDBaixo3{
    width: 100%;/*largura*/
    height: 10%;/*altura*/ 
    display: flex;
    justify-content: space-between;
}
#botaoVoltar3{
    border-radius: 10px;
    width: 130px;
    height: 40px;
    border:0;
    font-family:'GooperSemiBold';  
    color:black;
    background-color: var(--primaryColor);
    margin-left: 20px;
   
}
 #botaoFinalizar{
    border-radius: 10px;
    width: 130px;
    height: 40px;
    border:0;
    font-family:'GooperSemiBold';  
    color:black;
    background-color: var(--primaryColor); 
    align-items: center;
    margin-right: 20px;
}
#divSeuNome{
    margin-top: -75px;
 
}
#divAlinhar{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.labelNomePet{
    padding-left: 10px;
    margin-bottom: 1px;
    
}

#precoServico {
    margin-top: 20px;
    width: 56%;
    width: 183px;
}

#precoServico label {
    font-size: 0.9em;
}