
.carrossel{
    color: var(--primaryColor);
    font-size: 2.5em;
    font-family: 'GooperSemiBold';
    font-weight: bold;
    text-align: center;
    width: 100vw;
    display: block;
    margin-top: 20px;
}

#containerCarrossel {
    width: 90%;
    margin: 0 auto;
    display: flex; 
    align-items: center;
    justify-content: center;
}

#containerCarrossel img {
    width: 1030px;
    height: 500px;
    
}

#icon{
    color: var(--primaryColor);
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 50px;

}

.icon{
    font-size: 4em;
    margin-top: 150px;   
}

.quemSomos{
    color: var(--primaryColor);
    font-size: 2.5em;
    font-family: 'GooperSemiBold';
    font-weight: bold;
    text-align: center;
    width:100%;
    display: block;


}

#texto1{
    color: var(--secondColor);
    font-size: 1em;
    font-family: 'GooperSemiBold';
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 120px;

}

.Hospedagem{
color: var(--primaryColor);
font-size: 2.5em;
font-family: 'GooperSemiBold';
font-weight: bold;
text-align: center;
width:100%;
display: block;
margin-top: 20px;
}

.icon2{
    color: var(--primaryColor);
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 50px;
    font-size: 4em;

}


#texto2{
    color: var(--secondColor);
    font-size: 1em;
    font-family: 'GooperSemiBold';
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 120px;
}



.petshop{
    color: var(--primaryColor);
    font-size: 1.5em;
    font-family: 'GooperSemiBold';
    font-weight: bold;
    text-align: center;
    width:100%;
    display: block;
    margin-top: 20px; 
   
}

#containerPetShop{
    display: flex;
   justify-content: end;
      
}

#imagemPanda{
    width: 30%;
    margin-top: 20px;
    position: absolute;
    top: 880px;
   
}


#promocoes{
    margin-top: 50px;
}

#agendeSeuHorario{
    margin-top: 80px;
    padding: 30px;
    font-size: 2.5em;

}

#textoPetShop{
    color: var(--secondColor);
    font-size: 1.5em;
    font-family: 'GooperSemiBold';
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 270px;
    padding-bottom: 0;
    padding-top: 0;
    display: flex;
    justify-content: center;

}
.botaoUser {
    width: 100px;
    height: 50px;
    border: 2px solid var(--primaryColor);
    border-radius: 5px;
    
}

#textoPetShop p{
    width: 400px;
}
#botaoTransparente {
    width: 200px;
    height: 40px;
    border: 3px solid var(--primaryColor);
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1em;
    color: var(--primaryColor);
    box-shadow: 1px 1px 5px var(--shadowColor3);
   
}

#botaoTransparente:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#agendar{
justify-content: center;
align-items: center;
display: flex;
margin-top: -10px;
}

#containerMinhasCompras {
    box-shadow: 0px 0px 8px var(--shadowColor3);
    display: none;
    position: absolute;
    width: 600px;
    height: 450px;
    background-color: var(--primaryColor);
    border-radius: 10px;
    padding-bottom: 5px;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#btnFecharMinhasCompras {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 10%;
}

#btnFecharMinhasCompras button {
    border-radius: 50%;
    border: 0;
    width: 30px;
    height: 30px;
}

#btnFecharMinhasCompras button:hover {
    background-color: var(--secondColor);
    color: white;
    transform: scale(1.1);
    transition: .1s ease-in;
    cursor: pointer;
}

#containerTable {
    width: 100%;
    height: 90%;
    margin-top: 50px;
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 10px;
}

#containerTable::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: var(--thirdColor);
}

#containerTable::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 10px;
    background-color: #524c98;
}

#containerTable table, td, th, tr {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    font-size: 1.1em;
    font-family: "Nunito";
    background-color: var(--secondColor);
    text-align: center;
}

#containerTable th {
    font-family: "GooperSemiBold";
}

#thNome {
    min-width: 300px;
}

#thCodigo {
    padding: 0 20px;
}

.tdPrecoProduct {
    text-align: left;
}
