#conteinerPrincipal {

    display: flex;
    width: 100%;
    height: 670px;
    font-family: "Nunito";


}

#imagemProduto img {
    width: 450px;
    height: 450px;
    background-color: black;

}

#containerImg {
    height: 17%;
}

#conteinerPrincipal>div {


    display: flex;
    align-items: center;
    justify-content: center;


}

#valorFrete {
    padding-left: 15px;
    color: var(--primaryColor);
    font-size: 1.1em;
}

#imagemProduto {

    width: 40%;
    height: 100%;
    background-color: white
}

#paginaLadoDireito {


    width: 60%;
    height: 100%;
    display: flex;


}

#descricaoImagem {


    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white
}

#conteinerTituloProduto {

    text-align: center;
    margin-bottom: 20px;

}

#tituloProduto {

    font-size: 2em;
    color: var(--primaryColor);
    text-align: left;
    margin-top: 80px;
    font-family: 'GooperBold'

}

#descricaoCodigo {

    font-size: 1em;
    color: var(--primaryColor);
    font-family: 'GooperBold';
}

#TituloCodigo {

    font-size: 2em;
    margin-bottom: 10px;
    color: var(--primaryColor);
    font-family: 'GooperBold';

}

#descricaoImagem-2 {

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: white
}

#botaoTeste {

    width: 50px;
    height: 20px;

}

#imagemDescricaoProduto {

    width: 200px;
    height: 200px;
    position: absolute;
    right: 10px;
    top: 35%;


}

.descricaoDivs {

    width: 100%;
    height: 25%;

}

#alteracoesDescricaodivs {

    display: flex;
    width: 100%;
    height: 40%;
    font-size: 2.5em;
    color: var(--primaryColor);


}

#alteracoesDescricaodivs2 {

    display: flex;
    width: 100%;
    height: 40%;
    font-size: 2em;
    color: var(--primaryColor);


}

#descricaoBaixo {


    width: 100%;
    height: 40%;


}

#tituloTextoCalcular {

    display: flex;
    font-size: 1.5em;
    width: 100%;
    height: 20%;
    margin-top: 10px;
    color: var(--primaryColor);

}

#addProdutos {

    width: 100%;
    height: 15%;

}

#botaoAdd {
    display: flex;
    gap: 13px;
    margin: 10px 0;

}

#botaoINPTIndividual {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid var(--primaryColor);
    font-family: "Nunito";
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;

}

#botaoINPT {

    width: 40px;
    border-radius: 20%;
    border: 0;
    text-align: center;
    outline: none;
    cursor: default;


}

.botoesAdd {

    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0;
    color: var(--primaryColor);


}

#botaoFuncoes {

    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 5px;


}

.botaoFuncoestamanho {


    border-radius: 15px;
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    border: 0;
    background-color: var(--secondColor);
    color: white;

}

#tituloTextoCep {

    display: flex;
    width: 50%;
    height: 40px;
    border-radius: 15px;
    border: 0;
    text-align: center;
    font-size: 1em;
    outline: 0;
    background-color: var(--thirdColor);
    color: white
}

#btnOk {

    margin-left: 5px;
    width: 50px;
    border-radius: 10px;
    border: 0;
    background-color: var(--secondColor);
    color: white;

}

#botoesCep {


    display: flex;


}

#tituloTextoCep::placeholder {

    color: white;
}

#containerPrecoProd {
    margin-top: -15px;
}

#sugestoesProdutos {
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#sugestoesProdutos h2 {
    height: 10%;
    font-size: 2em;
    font-family: "GooperSemiBold";
    color: var(--primaryColor);
    margin-bottom: 20px;
}

#containerProdutosSugest {
    width: 100%;
    height: 90%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--secondColor);
    gap: 30px;
}

.sugest {
    width: 280px;
    height: 280px;
    background-color: var(--primaryColor);
    border-radius: 20px;
}

.sugest:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition:  .2s ease-in;
}

.sugest img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.botaoFuncoestamanho:hover {
    transform: scale(1.05);
    transition: .2s ease-out;
    background-color: var(--primaryColor);
}

#btnOk:hover {
    transform: scale(1.05);
    transition: .2s ease-out;
    background-color: var(--primaryColor);
}

#containerStars {
    height: 30px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

#containerStars img {
    width: 30px;
}

#tipoFrete {
    background-color: var(--secondColor);
    width: 67%;
    height: 150px;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 0px 0px 8px var(--shadowColor3);
    display: none; /*flex*/
    flex-direction: column;
}

#tipoFrete div {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 6px;
    font-size: 1.2em;
}

#tipoFrete div > label {
    cursor: pointer;
}

.radioFrete {
    width: 20px;
    height: 20px;
}

#erroFrete {
    padding-left: 10px;
    color: red;
    display: none;
}