
.carrossel{
    color: var(--primaryColor);
    font-size: 2.5em;
    font-family: 'GooperSemiBold';
    font-weight: bold;
    text-align: center;
    width: 100vw;
    display: block;
    margin-top: 20px;
}

#containerCarrossel {
    width: 90%;
    margin: 0 auto;
    display: flex; 
    align-items: center;
    justify-content: center;
}

#containerCarrossel img {
    width: 1030px;
    height: 500px;
    
}

#icon{
    color: var(--primaryColor);
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 50px;

}

.icon{
    font-size: 4em;
    margin-top: 150px;   
}

.quemSomos{
    color: var(--primaryColor);
    font-size: 2.5em;
    font-family: 'GooperSemiBold';
    font-weight: bold;
    text-align: center;
    width:100%;
    display: block;


}

#texto1{
    color: var(--secondColor);
    font-size: 1em;
    font-family: 'GooperSemiBold';
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 120px;

}

.Hospedagem{
color: var(--primaryColor);
font-size: 2.5em;
font-family: 'GooperSemiBold';
font-weight: bold;
text-align: center;
width:100%;
display: block;
margin-top: 20px;
}

.icon2{
    color: var(--primaryColor);
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 50px;
    font-size: 4em;

}


#texto2{
    color: var(--secondColor);
    font-size: 1em;
    font-family: 'GooperSemiBold';
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 120px;
}



.petshop{
    color: var(--primaryColor);
    font-size: 1.5em;
    font-family: 'GooperSemiBold';
    font-weight: bold;
    text-align: center;
    width:100%;
    display: block;
    margin-top: 20px; 
   
}

#containerPetShop{
    display: flex;
   justify-content: end;
      
}

#imagemPanda{
    width: 30%;
    margin-top: 20px;
    position: absolute;
    top: 880px;
   
}


#promocoes{
    margin-top: 50px;
}

#agendeSeuHorario{
    margin-top: 80px;
    padding: 30px;
    font-size: 2.5em;

}

#textoPetShop{
    color: var(--secondColor);
    font-size: 1.5em;
    font-family: 'GooperSemiBold';
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 270px;
    padding-bottom: 0;
    padding-top: 0;
    display: flex;
    justify-content: center;

}
#textoPetShop p{
width: 400px;
}
#botaoTransparente {
    width: 200px;
    height: 40px;
    border: 3px solid var(--primaryColor);
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1em;
    color: var(--primaryColor);
    box-shadow: 1px 1px 5px var(--shadowColor3);
   
}

#botaoTransparente:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#agendar{
justify-content: center;
align-items: center;
display: flex;
margin-top: -10px;
}

#perfilUsuario{
    display: none; /* FLEX */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 550px;
    background-color: var(--primaryColor);
    z-index: 3;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    align-items: center;
    justify-content: center;

}

#dentroPerfil{
    background-color: var(--secondColor);
    height: 90%;
    width: 95%;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;

}

#botaoFechar{
position: absolute;
display: flex;
justify-content: flex-start;
}

#botaoFechar button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    font-size: 0.8em;
}

#botaoFechar > button > i{
    margin-top: 3px;
}

#botaoFechar > button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#imagemDefault{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}

#imagemDefault > img {
    width: 120px;
    height: 120px;
    border-radius: 50%;

}

#infoUser{
    width: 100%;
    height: 70%;
    display: flex;
}

.textoInputs{
    font-size: 0.85em;
    font-family: 'GooperSemiBold';
    font-weight: bold;
    color: black;
}

#botoes{
display: flex;
flex-direction: column;
margin-bottom: 5px;
width: 190%;
height: 100%;
justify-content: center;
align-items: flex-start;
border-radius: 50%;

}

.inputs{
    width: 315px;
    height: 40px;
   border-radius: 20px;
   border: none;
   outline: none;
   cursor: default;

}

#informacoes{
display: flex;
flex-direction: column;
gap: 15px;
}

#informacoes label {
    padding-left: 10px;
}

#nome{
    display: flex;
    flex-direction: column;
}

#conta{
    display: flex;
    flex-direction: column;  
}

#contato{
    display: flex;
    flex-direction: column; 
}

#direita{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

}
.petsz{
    font-size: 2em;
    font-family: 'GooperSemiBold';
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    z-index: 3;
    position: absolute;
    left: 1%;

}

#quadradoPets{
    width: 300px;
    height: 300px;
    background-color:white;
    border-radius: 5%;
    display: flex;
    align-items: center;
    position: absolute;
    right: -5px;
}

.botaoTransparente{
    width: 100px;
    height: 50px;
    background-color: white;
}

#excluirEeditar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
   
}

#excluirEeditar button {
    font-size: 0.8em;
    font-family: 'GooperSemiBold';
    font-weight: bold;
    color: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

#excluirEeditar button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#userImg {
    display: none;
}

#imagem:hover {
    transform: scale(1.3);
    cursor: pointer;
    transition: all .3s ease-in-out;
}