body {
    display: flex;
    flex-direction: column;   
    background-color: var(--secondColor);
}

header {
    display: flex;
    height: 180px;
    background-color: var(--primaryColor);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header > img {
    width: 150px;
    height: 150px;
}

header #containerBarraDePesquisa {
    height: 40px;
    width: 50%;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

#barraPesquisa {
    width: 96%;
    height: 100%;
    border-radius: 50px;
    border: 0;
    padding-left: 30px;
    display: inline-flex;
    font-size: 1.5em;
}

#barraPesquisa:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#containerBarraDePesquisa span:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#containerIcones {
    display: flex;
    flex-direction: row;
}

#containerIcones span {
    background-color: var(--thirdColor);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-weight: bold;
}

#containerIcones span:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s;
    color: var(--primaryColor);
}

nav {
    display: flex;
    height: 40px;
    background-color: var(--thirdColor);
    align-items: center;
    justify-content: space-around;
    font-size: 1.5em;
    font-family: "GooperBold";
    font-weight: bold;
    color: var(--primaryColor);
    padding-bottom: 2px;
}

nav span:hover {
    color: var(--secondColor);
    cursor: pointer;
    transform: scale(1.1) translateX(3px) translateY(-2px);
    transition: transform 0.3s;
}

#containerProdutos {
    width: 90%;
    max-width: 1400px;
    height: 90vh;
    background-color: white;
    margin-top: 20px;
    border-radius: 40px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px var(--shadowColor3);
    padding: 30px;
}

.centralizador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#produto {
    width: 300px;
    height: 450px;
    background-color: var(--thirdColor);
    border-radius: 20px;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#produto > img {
    width: 90%;
    height: 50%;
    border-radius: 5px;
    margin-bottom: 10px;
}

#produto > div {
    display: flex;
    flex-direction: column;
    align-items: ;
}

#produto #titleProd {
    min-width: 160px;
    text-align: left;
    font-size: 1.3em;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

#produto #precoProd {
    font-size: 1.3em;
    margin-bottom: 20px;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

#containerBotoes {
   display: flex;
   justify-content: space-around; 
   width: 100%;
}

button#btnComprar {
    width: 60%;
    height: 40px;
    border: 0;
    border-radius: 10px;
    font-size: 1.3em;
}

button#btnCarrinho {
    width: 25%;
    border: 0;
    border-radius: 5px;
}