body {
    display: flex;
    flex-direction: column;   
    background-color: white;
}
a {
    text-decoration: none;
}

/* -------- ESTILO DO HEADER -------- */

header {
    display: flex;
    height: 150px;
    background-color: var(--primaryColor);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header > img {
    height: 115px;
    margin-left: 20px;
}

#containerIcones {
    display: flex;
    flex-direction: row;
}

#containerIcones span.btnIcons {
    background-color: var(--thirdColor);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-weight: bold;
    color: white;
}

#containerIcones span.btnIcons:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s;
    color: var(--primaryColor);
}

#containerPerfil {
    position: absolute;
    top: 115px;
    margin-left: 26px;
    background-color: var(--secondColor);
    width: 160px;
    height: 55px;
    border-radius: 10px;

    display: none;
    justify-content: space-around;
    align-items: center;
    padding-left: 5px;
    z-index: 1;
}

#containerPerfil img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: -10px;
    cursor: pointer;
}

#containerPerfil button#botaoLogar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 1.3em;
    color: white;
    font-family: 'GooperSemiBold';
    font-weight: 600;
    border-radius: 10px;
}

#containerPerfil button > span {
    font-size: 1.3em;
    margin-left: 5px;
}

#botaoSair {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    font-size: 1.2em;
    font-family: "GooperSemiBold";
    color: white;
    background-color: transparent;
    border: 0;
    margin-left: 25px;
} 

#botaoSair:hover {
    cursor: pointer;
    color: rgb(233, 227, 227);
}

#containerPerfil::after {
    content: ""; 
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--secondColor);
    transform: rotate(45deg);
    top: -10%;
    left: 80%;
    border-radius: 5px;
}

#inptTrocaFoto {
    visibility: hidden;
    width: 0;
    height: 0;
}

nav {
    display: flex;
    height: 40px;
    background-color: var(--thirdColor);
    align-items: center;
    justify-content: space-around;
    font-size: 1.5em;
    font-family: "GooperBold";
    font-weight: bold;
    color: var(--primaryColor);
    padding-bottom: 2px;
}

nav span:hover {
    color: var(--secondColor);
    cursor: pointer;
    transform: scale(1.1) translateX(3px) translateY(-2px);
    transition: transform 0.3s;
}

nav span:hover::after, span:hover::before {
    display: inline-block;
}

nav span::before {
    content: "";
    display: none; /* inline-block */
    background-image: url(../../imagens/icons/pata.svg);
    background-size: cover;
    width: 20px;
    height: 20px;
    transform: rotate(-10deg);
    position: absolute;
    left: -20px;
    top: 5px;
}

nav span::after {
    content: "";
    display: none; /* inline-block */
    background-image: url(../../imagens/icons/pata.svg);
    background-size: cover;
    width: 20px;
    height: 20px;
    transform: rotate(10deg);
    position: absolute;
    top: 5px;
}
/* ---------------------------------- */

#containerProdutos {
    width: 90%;
    max-width: 1400px;
    height: 90vh;
    margin-top: 20px;
    border-radius: 40px;
    margin-bottom: 20px;
    padding: 30px;
    text-align: center;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

}

h1#h1Produtos {
    font-size: 5em;
    font-family: "GooperBold";
    font-weight: bold;
    color: var(--primaryColor);
    margin-top: 30px;
}

.centralizador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 900px;
}

/*produto*/

.produto {
    width: 300px;
    height: 450px;
    background-color: var(--thirdColor);
    background-image: url(../../imagens/patinhas-semfundo.png);
    background-size: 270px;
    border-radius: 20px;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 18px rgba(97, 94, 94, 0.519);
}

.produto > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 97%;
    background-color: var(--thirdColor);
}

.produto > div > img {
    width: 90%;
    height: 50%;
    border-radius: 5px;
    margin-top: 10px;
}

.produto > div > div {
    display: flex;
    flex-direction: column;
    height: 190px;
    width: 90%;
    justify-content: space-evenly; 
}

.produto .titleProd {
    min-width: 160px;
    text-align: left;
    font-size: 1.5em;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    margin-bottom: 23px;
}

.produto .precoProd {
    font-size: 1.3em;
    margin-bottom: 20px;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    text-align: left;
}

.containerBotoes {
   display: flex;
   justify-content: space-between; 
   width: 100%;
   
}

.descricao {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button.btnComprar {
    width: 60%;
    height: 40px;
    border: 0;
    border-radius: 10px;
    font-size: 1.3em;
    cursor: pointer;
}

button.btnCarrinho {
    width: 25%;
    border: 0;
    border-radius: 5px;
    padding-top: 5px;
    cursor: pointer;
}

button.btnCarrinho img {
    width: 30px;
}

#footer{
    display: flex;
    height: 150px;
    background-color: var(--primaryColor);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#iconeImg{
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: right;
}

#icones{
 display: flex;
 flex-direction: column;
color: white;
}

.iconLateral{
  display:flex;  
  gap: 20px;
  margin-bottom: 5px;
  font-family: "Nunito";

}