html,body{
    height: 100%;
}

header {
    display: flex;
    height: 150px;
    background-color: var(--primaryColor);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header > img {
    height: 115px;
    margin-left: 20px;
}

header #containerBarraDePesquisa {
    height: 40px;
    width: 50%;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

#barraPesquisa {
    width: 96%;
    height: 100%;
    border-radius: 50px;
    border: 0;
    padding-left: 30px;
    display: inline-flex;
    font-size: 1.5em;
    font-family: "Nunito";
}

#barraPesquisa:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#containerBarraDePesquisa span {
    width: 35px;
}

#containerBarraDePesquisa span:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#containerIcones {
    display: flex;
    flex-direction: row;
}

#containerIcones span.btnIcons {
    background-color: var(--thirdColor);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-weight: bold;
    color: white;
}

#containerIcones span.btnIcons:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s;
    color: var(--primaryColor);
}

#containerPerfil {
    position: absolute;
    top: 115px;
    margin-left: 26px;
    background-color: var(--secondColor);
    width: 160px;
    height: 55px;
    border-radius: 10px;

    display: none;
    justify-content: space-around;
    align-items: center;
    padding-left: 5px;
}

#containerPerfil img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: -10px;
    cursor: pointer;
}

#containerPerfil button#botaoLogar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 1.3em;
    color: white;
    font-family: 'GooperSemiBold';
    font-weight: 600;
    border-radius: 10px;
}

#containerPerfil div {
    display: none;
    justify-content: center;
    align-items: center;

    font-size: 1.3em;
    font-family: 'GooperSemiBold';
    color: white;
}


#containerPerfil button > span {
    font-size: 1.3em;
    margin-left: 5px;
}

#botaoSair {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    font-size: 1.2em;
    font-family: "GooperSemiBold";
    color: white;
    background-color: transparent;
    border: 0;
    margin-left: 25px;
} 

#botaoSair:hover {
    cursor: pointer;
    color: rgb(233, 227, 227);
}

#containerPerfil::after {
    content: ""; 
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--secondColor);
    transform: rotate(45deg);
    top: -10%;
    left: 80%;
    border-radius: 5px;
}

#inptTrocaFoto {
    visibility: hidden;
    width: 0;
    height: 0;
}

nav {
    display: flex;
    height: 40px;
    background-color: var(--thirdColor);
    align-items: center;
    justify-content: space-around;
    font-size: 1.5em;
    font-family: "GooperBold";
    font-weight: bold;
    color: var(--primaryColor);
    padding-bottom: 2px;
}

nav span:hover {
    color: var(--secondColor);
    cursor: pointer;
    transform: scale(1.1) translateX(3px) translateY(-2px);
    transition: transform 0.3s;
}

nav span:hover::after, span:hover::before {
    display: inline-block;
}

nav span::before {
    content: "";
    display: none; /* inline-block */
    background-image: url(../../imagens/icons/pata.svg);
    background-size: cover;
    width: 20px;
    height: 20px;
    transform: rotate(-10deg);
    position: absolute;
    left: -20px;
    top: 5px;
}

nav span::after {
    content: "";
    display: none; /* inline-block */
    background-image: url(../../imagens/icons/pata.svg);
    background-size: cover;
    width: 20px;
    height: 20px;
    transform: rotate(10deg);
    position: absolute;
    top: 5px;
}

a{
    text-decoration: none;
}

#container{     /*INICIO.quadrado todo abaixo da div serviço e div cadastro pet*/
   display: flex;
   width: 90%;  /*largura*/
   height: 90%;  /*altura*/
   background-color: blue;
   border-radius: 10px;
   overflow: hidden;
}
#servico{     /*parte da esquerda primeira pagina,separando o lado esquerdo P direito*/   
    width: 30%;
    height: 100%;
    background-color: rgb(12, 121, 37);
    justify-content: center;
    display: flex;   

}

#divECima { /*centraliza a patinha e nome PandaPet*/
    height: 200px;
    display: inline-block;
}  



#divECima { /*formata o circulo branco que a patinha vai dentro */
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#divECima img{/*modifica o tamanho da patinha que esta dentro do circulo branco*/
    width: 50px;
    height: 50px;
}
#divTitulo{ /*modifica o descritivo da esquerda PandaPet*/
    display: inline-flex;
    
}
#divEMeio{
    width: 70px;
    height: 70px;
  
}
#divEBaixo{
    width: 70px;/*largura*/
    height: 70px;/*altura*/
}




#cadastroPet{ /*parte da direita primeira pagina, /*separando o lado direito do esquerdo*/
    width: 70%;
    height: 100%;
    background-color: rgb(226, 122, 43);

}

#divDCima{
    width: 100%;/*largura*/
    height: 20%;/*altura*/

}
#divDMeio{
    width: 100%;/*largura*/
    height: 70%;/*altura*/

}
#divDBaixo{
    width: 100%;/*largura*/
    height: 10%;/*altura*/

}


.centralizador{ /*centralizou o quedro da direita para esquerda*/
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}